.jumbotron{
    background-color: rgba(255, 255, 255, .84);
    border: none;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .24);
}
h1{
    font-size: 27px;
    font-weight: 400;
}
h2{
    font-size: 20px;
    font-weight: 200;
}
input[type="text"],input[type="email"], input[type="password"], select, input[type="number"]{
    border: none !important;
    padding-left: 3px !important; 
    border-radius: 0 !important; 
    border-bottom: 1px solid rgba(52, 69, 145, .47) !important;
    background: transparent;
    font-size: 18px !important;
    font-weight: 200;
    color: #919191 !important;
    transition: .2s;
}
input[type="text"]:focus,input[type="email"]:focus, input[type="password"]:focus, select:focus, input[type="number"]:focus{
    border: none !important;
    background: inherit !important;
    box-shadow: none !important;
    border-bottom: 1px solid rgb(52, 69, 145) !important;
} 
.form-submit{
    background: #344591;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    padding: 6px 15px;
    border-radius: 10px;
    transition: .3s;
    border: 2px transparent solid;
}
.form-submit:hover,.form-submit:focus {
    border: 2px rgba(73, 97, 204, .70) solid;
    color: #D3D3D3;
}
.error-message{
    color: #F12121;
    font-size: 16px;
}
.invalido{
    border-bottom: 1px solid #F12121 !important;
}